In [1]:
import numpy as np
import pandas as pd

In [2]:
# Loading the Excel file and selecting the correct sheet
file = "IncomeDistribution2010-19.xlsx"
sheet = "T3_1a"

# Read the data, skipping the first two rows (which are empty)
data = pd.read_excel(file, sheet_name=sheet, header=3)
data.head()

,Percentile point\nTotal income before tax,2010-11,2011-12,2012-13,2013-14,2014-15,2015-16,2016-17,2017-18,2018-19
0,1,6730,7740,8370,9710,10300,10800,11200,11700,12100
1,2,7000,8000,8670,10000,10600,11100,11500,12000,12300
2,3,7260,8280,8970,10300,10800,11300,11700,12300,12600
3,4,7550,8560,9260,10600,11000,11500,11900,12500,12800
4,5,7830,8840,9570,10800,11200,11700,12200,12800,13100

In [3]:
# Clean the data for 2016-17 tax year
incomes_2016_17 = [x for x in data['2016-17']]
percentiles = list(range(1, 100))  # Percentiles 1-99

# Create a DataFrame
df = pd.DataFrame({
    'percentile': percentiles,
    'income': incomes_2016_17
})

# Filter data for incomes >= £15,000 (given threshold xm)
filtered_data = df[df['income'] >= 15000]

# Parameters
x_m = 15000
N = len(filtered_data)
alpha = 1
beta = 1

# Calculate sum of log ratios
log_ratio_sum = np.sum(np.log(filtered_data['income'] / x_m))

# Calculate MAP estimate for lambda
lambda_MAP = N / (beta + log_ratio_sum)

print(f"Number of data points used: {N}")
print(f"MAP Estimate for lambda (with α=β=1): {lambda_MAP:.4f}")

Number of data points used: 82
MAP Estimate for lambda (with α=β=1): 1.4565